Repository TechOUs/DSKaKhel, pull requests merged in 2020-10, with the labels that each got.

#57 Graph-Representation
  GRAPH/JAVA/Graph-Representation.java
  README.md
Labels: HacktoberFest20, JAVA

#64 add Suffix array
  README.md
  STRING/C++/suffixArray.cpp
Labels: HacktoberFest20, Python

#69 Add substring search
  README.md
  STRING/C++/StringSearch.cpp
Labels: C++, HacktoberFest20

#75 added Go in Strings
  README.md
  STRING/Go/Strings.go
Labels: GO, HacktoberFest20

#72 Updated Inbuilt LinkedList using Java
  LISTS/INBUILT/LinkedList/JavaLinkedList.java
  README.md
Labels: HacktoberFest20, JAVA, hacktoberfest-accepted

#88 added program on list in python
  LISTS/INBUILT/ARRAYLIST/PYTHON/kritika2311.py
  README.md
Labels: HacktoberFest20, Python, hacktoberfest-accepted
